<!DOCTYPE html>
<head>
    <title>Employee Sign-Up</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <nav class="navbar">
            <div style="display: flex; flex-direction: row; align-items: center;">
            <a href="/manager/employees" style="margin-left: 10px; margin-right: 20px;"><img src="/img/management/arrow-left.png" class="back-arrow"></a>
            <div>
                <p1 style="font-weight: 500;">Managers</p1>
                <h1 style="font-size: 50px; font-weight: 600; margin-top: -15px;">Create Account</h1>
            </div>
        </div>
        </nav>
        <div class="signin-container">
            <section class="signup-card" aria-labelledby="signin-title" >
                <div class="brand"> 
                    <h1 id="signin-title">Employee Sign-Up Page</h1>
                    <p class="subtitle">Follow the prompts to create a new employee account</p>
                </div>

                <form id="signin-form" class="form" novalidate>
                    <div class="toggle-group">
                        <input type="radio" id="cashier" name="role" value="Cashier" checked>
                        <label for="cashier">Cashier</label>

                        <input type="radio" id="manager" name="role" value="Manager">
                        <label for="manager">Manager</label>
                    </div>

                    <label for="name" class="visually-hidden">Full Name</label>
                    <input id="name" name="name" type="text" placeholder="Full Name" />

                    <label for="username" class="visually-hidden">Username</label>
                    <input id="username" name="username" type="username" placeholder="Username" />

                    <label for="password" class="visually-hidden">Password</label>
                    <div class="password-row">
                        <input id="password" name="password" type="password" placeholder="Password" />
                    </div>

                    <button type="submit" class="primary">Create Account</button>
                </form>
            </section>
        </div>
    </div>
    <script type="module" src="/langSelect.js"></script>
    <script src="/index.js"></script>
    <script src="/employeeSignUp.js"></script>
</body>