<!DOCTYPE html>
<head>
    <title>ShareTea Kiosk</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div>
        <!-- <h1>ShareTea</h1> -->
        <nav class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="/ShareTea_logo.webp" alt="ShareTea Logo" class="logo-img">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="/sign-in">Sign In</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    
</body>