* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importing Poppins font */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffdddd;
    /* background-color: white; */
    padding: 1.3rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-img {
    height: 50px;
    width: auto;
    display: block;
    padding-left: 20px;
}

/* Navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-right: 20px;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links li a:hover {
    background-color: #ffbbbb; /* hover effect */
    border-radius: 5px;
}

.speaker-btn {
    background: #ffdddd;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    line-height: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

.TextToSpeech-img {
    width: 40px;
    height: auto;
    object-fit: contain;
    display: block;
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(100%);
    transition: filter 0.3s ease;
}

.speaker-btn.toggled .TextToSpeech-img {
    transform: scale(2);
}



.helpPageTitle{
    text-align: center;
}

.searchFAQ{
    text-align:center;
}

.faq{
    margin-top: 10px;
}

.contactGrid { 
    display: grid; gap: .75rem; 
}