* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importing Poppins font */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffdddd;
    /* background-color: white; */
    padding: 1.3rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-img {
    height: 50px;
    width: auto;
    display: block;
    padding-left: 20px;
}

/* Navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links li a:hover {
    background-color: #ffbbbb; /* hover effect */
    border-radius: 5px;
}

.center-container {
    display: flex;
    flex-direction: column; /* Arrange buttons in a column */
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Space between rows */
    height: 50vh; /* Full viewport height to center vertically */
}

.center-container .menu-button {
    padding: 3rem 6rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #ffdddd;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.center-container .menu-button:hover {
    background-color: #ffbbbb;
}

.button-1 {
    margin-top: 0;
}

.button-2 {
    margin-top: 2rem;
}

.button-3{
    margin-top: 4rem;
}

.cancel-order {
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    padding: 2rem 4rem;
    font-size: 1.75rem;
    border: none;
    border-radius: 5px;
    background-color: #ffdddd;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.cancel-order:hover {
    background-color: #ffbbbb;
}